* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    font-family: 'Arial';
    border: none;
    padding-top: 0;
}
body {
    padding-top: 0;
    width: 300px;
    padding: 10px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.control-group {
    padding-bottom: 20px;
    padding: 10px;
    margin-bottom: 10px;
    &:hover {
        background-color: lightgreen;
        color: darkgreen;
    }
    label {
        display: block;
        padding-bottom: 5px;
    }
    input, select {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
}

#io-checkbox-value {
    display: block;
}

#io-checkbox {
    display: none;
}

#io-checkbox-style {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color .2s;
    &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 0;
        left: 0;
        background-color: white;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        transition: left .2s;
    }
}
#io-checkbox-style:hover {
    background-color: #bfbfbf;
}
#io-checkbox-style:before {
    left: 0px;
}
#io-checkbox:checked + #io-checkbox-style {
    background-color: #2ecc71;
}
#io-checkbox:checked + #io-checkbox-style:before {
    left: 20px;
}
